.PD
{
 background-color: blueviolet;
}
.OS
{
background-color: indianred;
}

.SA
{
background-color: aqua;
}
.nameClass
{
    font-size: xx-large;
}
.gradeClass
{
    font-size: xx-large;
}

.hidden
{
    visibility: hidden;
}

.shown
{
    visibility: visible;
}